<html>
<head>
    <link rel="stylesheet" href="/../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/../css/styles.css" type="text/css">
    <title>Contacts</title>
</head>
<body>
    <div class="jumbotron">
        <h1 id='header'>Address Book</h1>
    </div>
    <div class="container">
        <div class="well">
            <form action='/create_contact' method='post'>
                <label for='name'>Contact name:</label>
                <input id='name' name='name' type='text'><br><br>
                <label for='phone'>Phone Number</label>
                <input id='phone' name='phone' type='text'><br><br>
                <label for='street'>Street Address</label>
                <input id='street' name='street' type='text'><br><br>
                <label for='location'>City, State, Zip</label>
                <input id='location' name='location' type='text'><br><br>

                <button type='submit'>Add Contact</button>
            </form>
        </div>
        <div class="well">

            {% if contacts is not empty %}
            <p>Here are all your contacts:</p>
            <ul>
                {% for contact in contacts %}
                <p id='contactName'>{{ contact.getName }}</p>
                <li>{{ contact.getPhone }}</li>
                <li>{{ contact.getStreet }}</li>
                <li>{{ contact.getLocation }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        <form action='/delete_contacts' method='post'>
            <button type='submit'>Clear</button>
        </form>
    </div>
</body>
</html>
