<html>
<head>
    <link rel='stylesheet' href='/../css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/../css/styles.css' type='text/css'>
    <title>Contacts</title>
</head>
<body>
  <div class='jumbotron'>
    <div class='row'>
      <div class='col-md-6'>
        <img src='/../img/telBook.png' id='telBook' />
        <h1 class='header' id='address'>Address</h1>
      </div>
      <div class='col-md-6'>
        <h1 class='header' id='book'>Book</h1>
        <img src='/../img/rolodex.png' id='rolodex'>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='well' id='input'>
      <form action='/create_contact' method='post'>
        <label for='name' class='field'>Contact name:</label>
        <input id='name' name='name' type='text' required><br><br>
        <label for='phone' class='field'>Phone Number</label>
        <input id='phone' name='phone' type='text' required><br><br>
        <label for='street' class='field'>Street Address</label>
        <input id='street' name='street' type='text' required><br><br>
        <label for='location' class='field'>City, State, Zip</label>
        <input id='location' name='location' type='text' required><br><br>

        <input class="buttonPicture" type="image" id="newContact" src="/../img/addContact.png"></input>

      </form>
    </div>
    <div class='well'>
      <div class='display'>
        {% if contacts is not empty %}
        <p class='displayHeader'>Here are all your contacts:</p>
          {% for contact in contacts %}
        <p class='contactName'>{{ contact.getName }}</p>
        <ul>
          <li >{{ contact.getPhone }}</li>
          <li>{{ contact.getStreet }}</li>
          <li id="lastList">{{ contact.getLocation }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <form action='/delete_contacts' method='post'>
        <input class="buttonPicture" type="image" id="clear" src="/../img/delete.png"></input>
      </form>
    </div>
  </div>
</body>
</html>
