<html>
    <head>
        <title>Contacts</title>
    </head>
    <body>
        <h1>Here is your contact:</h1>
        <p>{{ newContacts.getName }}</p>
        <ul>
            <li>{{ newContacts.getPhone }}</li><br>
            <li>{{ newContacts.getStreet }}</li><br>
            <li>{{ newContacts.getLocation }}</li><br>
        </ul>
        <p><a href="/">View your contacts</a></p>
    </body>
</html>
