
.jumbotron {
    background-image: url('/../img/addressBook.jpg');
    background-repeat: no-repeat;
    background-position: center;
    font-size: 38px;
    text-align: center;
    border-bottom: 2px solid red;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, .40), rgba(0, 0, 0, .40) ), url('/../img/writing.gif');
}

.well {
    width: 40%;
    display: block;
    margin: auto;
    border: 2px solid red;
}

#telBook {
    width: 30%;
    display: inline;
}

#address {
    padding-left: 10%;
    display: inline;
    color: blue;
}

#book {
    display: inline;
    padding-right: 10%;
    color: blue;
}

#rolodex {
    width: 30%;
    display: inline;
}

#input {
    margin-bottom: 10%;
}

.field {
    padding-left: 10%;
}

#newContact {
    width: 150px;
    display: block;
    margin: auto;
}

#clear {
    width: 150px;
    display: block;
    margin: auto;
}

.display {
    text-align: center;
}

.displayHeader {
    font-size: 24px;
}

.contactName {
    font-size: 18px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    }

#lastList {
    margin-bottom: 15%;
}

#viewAll {
    width: 150px;
    display: block;
    margin: auto;
}

#clearPar {
    font-size: 30px;
    text-align: center;
}

#deleteWell{
    display: block;
    margin: auto;
    width: 100%;
}

.pic {
    width: 95%;
}

#blockbuster {
    display: block;
    margin: auto;
    padding-left: 5%;
}

#iphone {
    display: block;
    margin: auto;
    padding-left: 5%;
}

#politics {
    display: block;
    margin: auto;
    width: 30%;
    margin-top: 5%;
}

#homeButton {
    width: 150px;
    display: block;
    margin: auto;
}
